.idea
/app/node_modules
/app/.pnp
/app/.pnp.js
/server/node_modules
/app/build
/app/.DS_Store
/app/.env.local
/app/.env.development.local
/app/.env.test.local
/app/.env.production.local
/app/npm-debug.log*
/app/yarn-debug.log*
/app/yarn-error.log*
/server/env.local
/server/env.development.local
/server/env.test.local
/server/env.production.local
/server/npm-debug.log*
/server/yarn-debug.log*
/server/yarn-error.log*